
img {float: ;
}


    p {color: white;
font-family:  comic sans ms;
     font-weight: bold;
}

    body
    { background-color: black;

    h1{ color:red;}

    .img-container {
      text-align: center;
    }


    body, html {
      margin:0;
      padding:0;}




    body{text-color}
.p9{color:white; }

